html { height: 100%; overflow: hidden;}
body { height: 100%; margin: 0; padding: 0 }
a {
	color: #000;
}
#map-canvas { height: 100%; width: 100%; }
.link {
        position: absolute;
        top: 13px;
        left: 102px;
}
.fillout {
	width: 100%;
}
#search {
	width: 142px;
	margin-right: 5px;
}
#go {
	width: 40px;
}
.copyright{
	position: absolute;
	padding: 5px 0;
	width: 100%;
	text-align: center;
	color: #212121;
	bottom: 0px;
	background: rgba(255,255,255,.7);
}
.copyright a {
	color: #666;
	text-shadow: 1px #ccc;
}
#accordion {
	position: absolute;
	top: 25px;
	width: 70%;
	margin: 0 auto;
	padding: 0 15px;
	overflow-y: auto;
	max-height: 90%;
}

.ui-state-default {
	background: rgba(255,255,255,0.7)!important;
}

.ui-widget-content {
	background: rgba(255,255,255,0.6)!important;
}

.ui-widget input, .ui-widget button {
	font-size: 12px;
}

p.henkit {
	width: 250px;
	height: 85px;
	overflow: hidden;
	padding-top: 65px;
	font-weight: bold;
	text-align: center;
	background: url("../images/henk.png") 0 0 no-repeat;
	font-size: 14px;
}

table {
	width: 100%;
}

td {
	vertical-align: top;
}

.searchform {
	width: 50%;
}

.koe img {
	float: right;
}

/** Menu */
.link ul {
	text-align: center;
	display: inline;
	margin: 0;
	list-style: none;
	color: #565656;
	font-family: Roboto,Arial,sans-serif;
	-moz-user-select: none;
	font-size: 11px;
	background-color: #FFF;
	padding: 8px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	background-clip: padding-box;
	border-width: 0px 1px 1px 1px;
	border-style: solid solid solid none;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) -moz-use-text-color;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
	min-width: 38px;
	text-decoration: none;
	font-weight: bold;
}
.link ul li {
  display: inline-block;
  position: relative;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.link ul li ul {
  text-align: left;
  padding: 10px 0 0 0;
  position: absolute;
  top: 12px;
  left: -8px;
  width: 250px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
	border-width: 0px 0px 0px 1px;
	border-style: solid solid solid none;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) -moz-use-text-color;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;

}
.link ul li ul li {
  display: block;
  color: #fff;
  padding: 2px 5px;
}
.link ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 999998;
}
.link ul li ul li:hover {
	background-color: #CCC;
	z-index: 999998;
}
.link a {
	text-decoration: none;
}